html, body {
  box-sizing: border-box;
  margin: 0;
}

header {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px;
}

h1 {
  font-size: 3em;
  margin: 0 0 20px 0;
}

header form {
  text-align: left;
}

label {
  display: block;
  margin: 10px auto;
  width: 200px;
}

header input {
  width: 200px;
  height: 20px;
}

.url-error {
  display: none;
  text-align: center;
}

#folder-select {
  display: block;
  margin: 0 auto;
  width: 200px;
}

#button-wrapper {
  margin-top: 10px;
  text-align: center;
}

nav {
  text-align: center;
  margin: 20px 0;
}

.user-data-wrapper {
  display: flex;
  justify-content: center;
}

section {
  background-color: lightgray;
  border: 1px solid black;
  padding: 15px;
  overflow-y: scroll;
}

#user-folders {
  width: 200px;
}

#user-links {
  width: 600px;
}
